:root {
  background-color: #010f32;
  color: rgb(247, 248, 248);
}
.foundationClass {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;

  .addButton {
    display: flex;
    position: absolute;
    bottom: 13%;
    right: 12%;
    background-color: transparent;
    width: 5%;
    padding: 12px 6px;
    justify-content: center;
    border-radius: 200px;
    border: 1px solid #f8fefe;
    img {
      width: 70%;
    }
  }

  .modalBase {
    display: flex;
    position: absolute;
    background: rgba(18, 32, 61, 0.6);
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    top: 0;
    .addTaskModal {
      position: relative;
      display: flex;
      padding: 3.5% 13%;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 45px;
      border-radius: 40px;
      background: #172957;
      box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
      z-index: 0;

      .closeModal {
        position: absolute;
        top: 8%;
        right: 8%;
        width: 2px;
        border: none;
      }
      .taskModalHeading {
        color: #f8fefe;
        text-align: center;
        font-size: 22px;
        font-family: Inter;
        font-weight: 500;
        line-height: 30px;
      }
      button {
        background-color: transparent;
        width: 85%;
        color: #f8fefe;
        border: 1px solid #f8fefe;
        border-radius: 20px;
      }
    }
  }
}

.headerMain {
  display: flex;
  flex-direction: column;
  background-color: #172957;
  border-radius: 0px 0px 40px 40px;
  width: 80%;
  margin: 0 auto;
  padding: 0px 74px 22px 74px;
  align-items: center;
  // padding: 2% auto;

  .headerFont {
    font-family: Roboto, Oxygen, Ubuntu, Cantarell, sans-serif;
    font-size: 31px;
    padding: 1% 0%;
  }
}

.mainBody {
  width: 50%;
  margin: 17px auto;
  text-align: center;
  min-height: 427px;
  // max-height: 400px;
  overflow-y: scroll;
  .taskDetail {
    display: flex;
    background-color: #172957;
    padding: 10px;
    margin: 15px auto;
    color: #f8fefe;
    align-items: center;
    overflow-wrap: break-word;
    border-radius: 25px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    justify-content: space-between;

    .taskDisplay {
      display: flex;
      width: 100%;
      align-items: center;
      justify-content: space-evenly;
    }

    button {
      background-color: transparent;
      border: none;
      padding: 6px;
      color: #f8fefe;
    }
    p {
      padding: 2px;
      width: 80%;
    }
    input {
      background: transparent;
      width: 80%;
      padding: 10px;
      font-size: 15px;
      border: 1px solid white;
      color: white;
      cursor: text;
    }
  }
}
.mainBody::-webkit-scrollbar {
  display: none;
}

.footer {
  width: 80%;
  margin: 0 auto;
  text-align: center;
  background-color: #172957;
  padding: 1.75% 5%;
  border-radius: 40px 40px 0px 0px;
}

.inputContainer {
  display: flex;
  justify-content: center;
  .inputBox {
    display: flex;
    padding: 5% 10%;
    color: #5d70ac;
    text-align: center;
    font-size: 18px;
    border: none;
    border-radius: 200px;
    background: #010f32;
  }
}
