// :root {
//   background-color: #010f32;
// }

.foundation_class {
  display: flex;
  flex-direction: column;
  height: 100vh;
  color: #f8fefe;
  background-color: #010f32;
  text-align: center;
  width: 100%;
  justify-content: space-between;

  .header_main {
    display: flex;
    // position: absolute;
    flex-direction: column;
    top: 0px;
    height: 30%;
    width: 90%;
    margin: 0% 4.75%;
    background-color: #172957;
    justify-content: space-around;
    border-radius: 0px 0px 40px 40px;
  }

  .headerFont {
    font-family: Roboto, Oxygen, Ubuntu, Cantarell, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 35px;
    line-height: 44px;
  }

  .main_body {
    display: flex;
    flex-direction: column;
    // position: absolute;
    // top: 40%;
    align-items: center;
    width: 100%;
    min-height: 15%;
    max-height: 35%;
    overflow-y: scroll;

    .task_detail {
      background-color: #172957;
      width: 400px;
      padding: 12px;
      margin: 15px 0px;
      color: #f8fefe;
      overflow-wrap: break-word;
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
      border-radius: 20px;
    }
  }

  .main_body::-webkit-scrollbar {
    display: none;
  }

  .addButton {
    display: flex;
    // position: absolute;
    // right: 7%;
    // bottom: 18%;
    border: 1px solid #eff6fd;
    border-radius: 50%;
    padding: 4px;
    z-index: 0;
    width: fit-content;
    background-color: #010f32;
    img {
      width: 45px;
      height: 45px;
    }
  }

  .footer {
    display: flex;
    // position: absolute;
    // bottom: 0px;
    height: 12%;
    width: 90%;
    margin: 0% 4.75%;
    justify-content: center;
    background-color: #172957;
    border-radius: 40px 40px 0px 0px;
  }
}

.modalBase {
  // position: absolute;
  display: flex;
  background: rgba(18, 32, 61, 0.6);
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  top: 0;
  .addTaskModal {
    display: flex;
    padding: 3.5% 13%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 45px;
    border-radius: 40px;
    background: #172957;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    z-index: 0;
    .taskModalHeading {
      color: #f8fefe;
      text-align: center;
      font-size: 22px;
      font-family: Inter;
      font-weight: 500;
      line-height: 30px;
    }
  }
  .addButton {
    display: flex;
    background-color: transparent;
    width: 75%;
    padding: 12px 0px 11px 0px;
    justify-content: center;
    align-items: center;
    border: none;
    border-radius: 200px;
    color: #f8fefe;
    border: 1px solid #f8fefe;
  }
}

.inputContainer {
  display: flex;
  justify-content: center;
  .inputBox {
    display: flex;
    padding: 11px 28px;
    color: #5d70ac;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 18px;
    font-family: Inter;
    font-weight: 500;
    border: none;
    border-radius: 200px;
    background: #010f32;
  }
}
